@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&family=Open+Sans:wght@300;400&family=Red+Hat+Display:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,500&family=League+Spartan:wght@700&family=Open+Sans:wght@300;400&family=Red+Hat+Display:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: Poppins;
}
:root{
    --bg-color: #FDF6F0;
    --text-color: #FDF6F0;
    --accent-color: #171617;
    --accent-color1: #32674e;
    --button-color: #95bbb8;
    --scroll-bar: #9e9696;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.g1{
     position: absolute;
     width: 350px;
     height: 350px;
     border-radius: 50%;
     filter: blur(79px);
     top: 10rem;
     left: 0;
     mix-blend-mode:multiply;
     background: #c100b4;
     background: -webkit-linear-gradient(321deg, #c100b4 0%, #ff625d 50%, #ffa36a 100%);
     background: linear-gradient(321deg, #ff00ee 0%, #ff5454 50%, #ffa36a 100%);
}
.g2{
     position: absolute;
     width: 280px;
     height: 280px;
     border-radius: 50%;
     filter: blur(70px);
     right: 2%;
     top:55%;
     mix-blend-mode:multiply;
     background: #c100b4;
     background: -webkit-linear-gradient(321deg, #c100b4 0%, #ff625d 50%, #ffa36a 100%);
     background: linear-gradient(321deg, #ff00ee 0%, #ff6868 50%, #ffa36a 100%);
}
.g3{
    position: absolute;
     width: 300px;
     height: 300px;
     border-radius: 50%;
     filter: blur(80px);
     left: 0;
     top: 115%;
     mix-blend-mode:multiply;
     background: #c100b4;
     background: -webkit-linear-gradient(321deg, #c100b4 0%, #ff625d 50%, #ffa36a 100%);
     background: linear-gradient(321deg, #ff59f4 0%, #ff5454 50%, #ffa36a 100%);
}
body{
    color: var(--accent-color);
    background-color: #c8dfda;
    background-image: url("data:image/svg+xml,%3C!-- svg: first layer --%3E%3Csvg viewBox='0 0 218 218' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    overflow: hidden;
}
::-webkit-scrollbar {
    width: 4px;
    height: 2px;
}
::-webkit-scrollbar-track {
    background: var(--scroll-bar);
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(10deg, rgb(123, 119, 124), rgb(66, 63, 71));
}
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(10deg, rgb(123, 119, 124), rgb(66, 63, 71));
}
/* .loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-color);
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
} */

.loader-background {
    position: absolute;
    width: 100%;
    height: 100%;
}
.loader-text {
    font-size: 9rem;
    color: var(--text-color);
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

section{
    padding: 10rem 9% 2rem;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: all 0.3s ease;
    background: rgba(200,223,218,0.05);
    -webkit-backdrop-filter: blur(13px);
    backdrop-filter: blur(13px);
    border: 1px solid rgba(200,223,218,0.025);
}

.header-up {
    margin-top: -100px;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}
.logo img{
    margin-top: -.8rem;
    width: 4rem;
    height: auto;
}
.logo a{
    font-size: 4.5rem;
    line-height: .2rem;
    font-weight: 700;
    letter-spacing: -.3rem;
    font-family: 'League Spartan', sans-serif !important;
    color: var(--accent-color);
}
.navbar a{
    position: relative;
    margin: 0 3rem 3rem 0;
    color: var(--accent-color);
    font-size: 1.4rem;
    font-weight: 500;

}
.navbar a::before{
    content: "";
    position: absolute;
    bottom: -2px;
    height: 2px;
    width: 0;
    background: var(--accent-color);
    border-radius: 50px;
    transition: width 0.3s ease;
}
.navbar a:hover::before{
    width: 100%;
}

.cv-button{
    position: relative;
    border-radius: .2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    cursor: pointer;
    
}
.cv-button::before{
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    font-size: 1.2rem;
    border-radius: .2rem;
    width: 7rem;
    height: 1.9rem;
    font-weight: 500;
    border: var(--accent-color) solid 1.5px;
    color:var(--accent-color) ;
    text-align: center;
    padding: 5px 0;
    transition: opacity 1s ease-in-out;
    position: absolute;
    z-index: 1;
    top: 5rem;
}
.cv-button:hover::before{
  opacity: 1;
  visibility: visible;
}
.cv-button i{
    color:var(--accent-color) ;
    font-size: 2.7rem;
    font-weight: 500;
}
.cv-button i:hover{
    color: var(--accent-color);
}
#menu-icon{
    font-size: 3.5rem;
    color: var(--accent-color);
    display: none;
}
/* home section styles */
.home {
    scroll-margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-content{
    padding: 1rem;
    color: var(--accent-color);
    /* text-shadow: 0 0 2rem var(--button-color); */
}
.home-content h3{
    font-size: 2.9rem;
    font-weight: 600;
    color: var(--accent-color);
}
.home-content h3:nth-last-of-type(3){
    margin-bottom: 2rem;
}
.home-content span{
    color: var(--accent-color);
}
.home-content h1{
    font-family: 'EB Garamond', serif;
    font-size: 9rem;
    font-weight: 900;
    line-height: 1.3;
    color: var(--accent-color);
    letter-spacing: .3rem;
    /* text-shadow: 0 0 2rem var(--button-color); */
}

.home-img > img {
    width: 85vw;
    max-width: 100%;
    height: auto;
     
}
.home-content p{
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--accent-color);

}
.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--accent-color);
    border-radius: 50%;
    font-size: 2.2rem;
    margin: 3rem 1.5rem 3rem 0;
    color: var(--accent-color);
    transition: .3s;
}
.social-media a:hover{
    color: var(--accent-color);
    box-shadow: 0 0 1rem var(--text-color);
}
.read-more-btn{
    border: var(--accent-color) solid 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13rem;
    height: 4.5rem;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: .2rem;
    color: var(--accent-color);
}
.read-more-btn:hover{
    color: var(--accent-color);
    box-shadow: 0 0 1rem var(--text-color);
}
/* about section */
.about{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.about-img{
    position: relative;
    background: var(--bg-color);
    padding: 1.5rem 1.5rem 6rem 1.5rem;
    box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
    
}
.overlay-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center; 
    background-color: var(--bg-color);
    color: var(--accent-color);
    padding: 0.5rem 1rem;
    font-size: 1.8rem;
    font-family: 'Special Elite', cursive;
    width: 100%; 
}
.about-img > img{
    width: 90vw;
    margin-bottom: 1rem;
    max-width: 100%;
    height: auto;
}
.heading{
    font-family: 'EB Garamond', serif;
    text-align: center;
    font-size: 4.5rem;
    letter-spacing: .5rem;
    margin-bottom: 1rem;
}
.about-content span{
    font-family: 'EB Garamond', serif;
    color: var(--accent-color1);
    font-weight: 600;
    letter-spacing: .3rem;
}
.about-content h2{
    text-align: left;
    margin-top: -4rem;
    font-size: 4.5rem;
    line-height: 1.3;
}
.about-content h3{
    font-size: 3.2rem;
    font-weight: 700;
}
.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}
/* educational background styles */
.educ-bg-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* border: var(--text-color) solid 1px; */
    
}
.educ-bg span{
    font-family: 'EB Garamond', serif;
    color: var(--accent-color1);
}
.educ-bg-container .educ-bg-box{
    /* flex: 1 1 30rem; */
    color: var(--text-color);
    padding: 3rem 2rem 4rem;
    text-align: center;
    border-radius: 1.5rem;
    
}
.educ-bg-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 1rem 1rem 1rem;
    border: var(--accent-color) solid 2px;
    width: 40rem;
}
.educ-bg-box i{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    background-color: var(--accent-color);
    width: 50px;
    height: 50px;
    font-size: 3rem;
    border-radius: 50%;
}
.grad-wrapper i::after{
    display: block;
    position: absolute;
    content: '';
    background-color: var(--accent-color);
    width: 2px;
    height: 15rem;
    margin-top: 18rem;
}
.grad-wrapper{
    height: 20rem;
   
}
.grad-wrapper-content{
    padding: 1rem;
    /* width: 30rem; */
}

.grad-wrapper-content h3{
    font-size: 2rem;
    color: var(--accent-color);
}
.grad-wrapper-content p{
    font-size: 1.3rem;
    color: var(--accent-color);
}
.educ-bg-container .educ-bg-box:hover{
    transform: scale(1.02);
    box-shadow: 0 0 1rem var(--text-color);
}
.grad-wrapper-content span{
    color: var(--accent-color1);
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: .3rem;
}

/* services section styles */
.card {
width: 40rem;
height: 35rem;
margin: 0 auto;
background-color: #F8FBFE;
color: var(--accent-color);
border-radius: 8px;
z-index: 1;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

}

.tools {
display: flex;
align-items: center;
padding: 9px;
background-color: var(--accent-color);
}
.circle {
padding: 0 4px;
}
.box {
display: inline-block;
align-items: center;
width: 10px;
height: 10px;
padding: 1px;
border-radius: 50%;
}
.red {
background-color: #ff605c;
}
.yellow {
background-color: #ffbd44;
}
.green {
background-color: #00ca4e;
}

/* services section styles */
.services{
    min-height: 100vh;
}
.services h2{
    margin-bottom: 5rem;
}
.services span{
    font-family: 'EB Garamond', serif;
    color: var(--accent-color1);
    font-size: 4.7rem;
    font-weight: 700;
}
.services-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    
}
.services-box{
    border: var(--accent-color) solid 2px;
    border-radius: 8px;
}
.services-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: .5rem;
    margin: 0 1rem 1rem 1rem;
    
}
.services-container .services-box:hover{
    transform: scale(1.02);
    background-color: var(--accent-color);
}
.services-box i{
    font-size: 7rem;
    color: var(--accent-color);
}
.services-box h3{
    font-size: 2.5rem;
}
.services-box p{
    font-size: 1.3rem;
    margin: 1rem 0 3rem;
}
.app-container img{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    margin: .5rem;
}
.attr-link:hover{
    color: var(--accent-color1); 
}

/* projects section styles */
.portfolio{
    min-height: 100vh;
}
.portfolio h2{
    margin-bottom: 8rem;
}
.portfolio span:nth-child(1){
    font-family: 'EB Garamond', serif;
    color: var(--accent-color1);
    font-weight: 750;
}
.portfolio-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 3rem 3rem 10rem 3rem;
}
.portfolio-box{
    padding: 10rem;
}
.portfolio-box-content{
    width: 60rem;
}

.portfolio-box-img>img:nth-child(1){
    
    width: 80vh;
    height: auto;
    border-radius: .2rem;
    box-shadow: 5px 13px 8px -4px rgba(128, 0, 0, 0.25);
}
.portfolio-box-img img:nth-child(3){
    width: 80vh;
    height: auto;
    border-radius: 1rem;
    box-shadow: 5px 13px 8px -4px rgba(128, 0, 0, 0.25);
}
.portfolio-box-content h3{
    font-size: 2.5rem;
    padding-bottom: 3rem;
}
.portfolio-box-content p{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.portfolio-app-container{
    display: flex;
    flex-direction: row;
}
.portfolio-app-container img{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    margin: .5rem;
    
}
.app-php, .app-html, .app-css, .app-js, .app-jquery, .app-postgre, .app-mysql{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 4rem;
    margin-right: 1rem;
}
.app-php span, .app-html span, .app-css span, .app-js span, .app-jquery span, .app-postgre span, .app-react span,.app-django .app-mysql span{
    font-size: 1rem;
    margin-right: 1rem;
}
.app-php{
    border:#7377AF solid 2px ;
    color: #494c73;
}
.app-html{
    border: #FF4B00 solid 2px;
    color: #FF4B00;
}
.app-css{
    border: #2196F3 solid 2px;
    color: #2196F3;
}
.app-js{
    border: #FFDF00 solid 2px;
    color: #a79000;
}
.app-jquery{
    border: #1266A9 solid 2px;
    color: #3c77a8;
}
.app-postgre{
    border: #336791 solid 2px;
    color: #406686;
}
.app-react{
    color: #416873;
    border: #56B8D4 solid 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 4rem;
    margin-right: 1rem;
   
}
.app-django{
    color: #4a6458 ;
    border: #346e52 solid 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 4rem;
    margin-right: 1rem;
  
}
.app-mysql{
    color: #4a7a92 ;
    border: #1F678F solid 2px;
}
.redirect-btn{
    background-color: var(--button-color);
    color: var(--accent-color);
    width: 10rem;
    height: 4rem;
    margin-top: 2rem;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    padding: 1rem;

}
.redirect-btn i{
    font-size: 1.4rem;
}
.redirect-btn span{
    font-size: 1.1rem;
    font-weight: 500;
}
.redirect-btn:hover{
    color: var(--accent-color);
    box-shadow: 0 0 1rem var(--text-color);
}



/* contacts sections styles */
.contact-paragraph{
    text-align: center;
    width: 70rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}
.contact{
    min-height: 130vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.contact h2{
    margin-bottom: 3rem;
}
.contact span{
    font-family: 'EB Garamond', serif;
    color: var(--accent-color1);
}
.contact form{

    max-width: 70rem;
    margin:  1rem auto;
    text-align: center;
    margin-bottom: 3rem;
    
}
.contact form .input-box{
    width: 70rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  
    
}
.contact form .input-box input,.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.2rem;
    color: var(--accent-color);
    border-radius: .2rem;
    margin: .8rem 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.contact form .input-box input{
    width: 49%;
}
.contact form textarea{
    resize: none;
    height: 30rem;
}
.send-btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--button-color);
    border-radius: 4rem;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--accent-color);
}
.send-btn:hover{
    box-shadow: 0 0 1rem var(--text-color);
    cursor: pointer;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    
    
}
.footer-text p{
    font-size: 1.2rem;
}
.attr{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: var(--text-color);
}
.attr p{
    margin-right: 1rem;
    color: var(--accent-color);
}
.attr p a{
    color: var(--accent-color);
}
.footer-icon-top a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background: var(--button-color);
    border-radius: 10rem;
    animation: floatImage 4s ease-in-out infinite;
}
.footer-icon-top a i{
    font-size: 2.5rem;
    color: var(--accent-color);
    background: transparent;
    
}
@keyframes floatImage {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-1.5rem);
    }
    100%{
        transform: translateY(0);
    }
}

@media (max-width: 1300px){
       .home-content h3{
        font-size: 2.5rem;
       }
}
@media (max-width: 991px){
    .header {
        padding: 2rem 3%
    }
    section {
        padding: 10rem 3% 2rem;
    }
    .services{
        padding-bottom: 7rem;
    }
    .portfolio{
        padding-bottom: 7rem;
    }
    .portfolio-box{
        height: 30vw;
    }
   .portfolio-box img{
    width: 100%;
    height: 30vw;
    object-fit: cover;
   }
   .portfolio-box-content{
    padding: 1.4rem;
   }
   .portfolio-container{
    flex-direction: column;
   }
   .portfolio-container:nth-child(2){
    flex-direction: column-reverse;
   }
   .portfolio-container:last-child{
    flex-direction: column-reverse;
   }
    .footer{
        padding: 2rem 3%;
    }
    .about-img img{
    width: 120vw;
    height: auto;
    }
}
@media (max-width: 768px){
    .g1{
    width: 300px;
    height: 300px;
    }
   .g2{
    top: 90%;
    width: 300px;
    height: 300px;
   }
   .g3{
    left: 10%;
    top: 175%;
   }
   #menu-icon{
    display: block;
   }
   .heading{
    margin-top: -8rem;

   }
   .navbar{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background-color: var(--text-color);
    border-top: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    display: none;
   }
   .navbar.active{
    display: block;
   }
   .navbar a{
    display: block;
    color: var(--accent-color);
    font-size: 2rem;
    margin: 3rem 0;
   }
   .cv-button{
    left: 20%;
   }
   .home{
    flex-direction: column;
   }
   .home-content h3{
    font-size: 2rem;
   }
   .home-content h1{
    font-size: 5.5rem;
    font-weight: 800;
   }
  .home-img{
    margin-top: 2rem;
   }
   .overlay-text {
    position: absolute;
    bottom: 1rem; 
    left: 50%;
    transform: translateX(-50%);
    text-align: center; 
    background-color: var(--bg-color);
    padding: 0.5rem 1rem;
    font-size: 2rem;
    font-family: 'Special Elite', cursive;
    width: 100%; 
    }
   .home-img > img{
    width: 70vw;
    height: auto;
   }
   .about{
    flex-direction: column-reverse;
   }
   .about-img >img{
    width: 40vw;
    height: auto;
   }
   .about-content h3{
    font-size: 2.5rem;
   }
   
   .services h2{
    margin-bottom: 3rem;

   }
   .app-container img{
    width: 2rem ;
    height: 2rem;
   }
   .portfolio h2{
    margin-bottom: 3rem;
   }
   .portfolio-box-content h3{
    font-size: 1.8rem;
   }
   .portfolio-box-img-container{
    width: 47rem;
    overflow: scroll;
   }
   .portfolio-container{
    flex-direction: column;
   }
   .portfolio-box-content{
    width: 49rem;
   }
   .portfolio-container:nth-child(2){
    flex-direction: column-reverse;
   }
   .portfolio-container:last-child{
    flex-direction: column-reverse;
   }
   .portfolio-app-container{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    width: 30rem;
    }
    .app-php, .app-html, .app-css, .app-js, .app-jquery, .app-postgre, .app-mysql, .app-react, .app-django{
    border: transparent;
    }
    .app-php span, .app-html span, .app-css span, .app-js span, .app-jquery span, .app-postgre span, .app-react span,.app-django span, .app-mysql span{
    display: none;
    }
    .contact form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
   .contact form .input-box input{
    width: 50rem;
    font-size: 1.3rem;
    color: var(--accent-color);
    }
    .contact form .input-box{
    width: 50rem;
    }
    .contact form textarea{
    width: 50rem;
    font-size: 1.3rem;
    color: var(--accent-color);
    }
    .contact{
    margin-bottom: -8rem;
    }
    .attr{
    flex-direction: column;
    }
    .contact-paragraph{
    width: 50rem;
    }
}
@media (max-width: 500px){
    /* .g1, .g2, .g3{
        display: none;
    } */
    .contact-paragraph{
        width: 50rem;
    }
    .contact form .input-box{
        max-width: 45rem;
    }
    .contact form textarea{
        width: 45rem;
    }
}
@media (max-width: 430px) {
    .g1{
        width: 200px;
        height: 200px;
        }
       .g2{
        top: 80%;
        width: 200px;
        height: 200px;
       }
       .g3{
        left: 5%;
        top: 150%;
       }
    #menu-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    }
    .navbar.active {
        display: block;
    }
    .navbar a {
        display: block;
        color: var(--accent-color) ;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .cv-button i{
        font-size: 3rem;
        margin-top: .5rem;

    }
    .home-img>img{
        width: 80vw;
        height: auto;
    }
    .about-img>img{
        width: 40vw;
        height: auto;
    }
    .home-content h1{
        font-size: 3rem;
    }
    .home-content h3{
        font-size: 1.9rem;
    }
    .heading{
        font-size: 2.2rem;
    }
    .services span{
        font-size: 2.2rem;
    }
    .about{
        margin-top: -10rem;
    }
    .about-content h2{
        font-size: 2.5rem;
    }
    .about-content h3{
        font-size: 2rem;
    }
    .overlay-text{
        margin-top: -1rem;
        font-size: 1.2rem;
    }
    .services-container{
        padding: 0 2rem 1rem;
    }
    .portfolio-container{
        padding: 1rem;
    }
    .portfolio-box-img-container{
        width: 48rem;
        overflow: hidden;
    }
    .portfolio-box-img{
        margin-bottom: 4rem;
        max-width: 30rem;
    }
    .portfolio-box-content{
        padding: 1rem;
        width: 48rem;
    }
    .portfolio-app-container{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 2.5rem;
        width: 28rem;
        margin-top: 1rem;
    }
    .portfolio-app-container :nth-child(2){
        height: 2.5rem;
        width: 5rem;
    }
    .app-php, .app-html, .app-css, .app-js, .app-jquery, .app-postgre, .app-mysql, .app-react, .app-django{
        border: transparent;
    }
    .app-php span, .app-html span, .app-css span, .app-js span, .app-jquery span, .app-postgre span, .app-react span,.app-django span, .app-mysql span{
        display: none;
    }
    .contact-paragraph{
        width: 50rem;
    }
    .contact form .input-box{
        max-width: 50rem;
    }
}


